.centrar-texto{
    text-align:center;
    padding:15px;
}

.button{
  text-align: end;
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
  background: #DDDDDD;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
}

.button-header:hover {
  background-color: #002c9e;
  color:#FFFFFF;
}

.logo{
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: space-between;
}

.user-menu ul {
  cursor: pointer;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.user-menu li {
  display: inline-block;
}
.user-menu li a {
  display: block;
  font-size: 15px;
  margin-right: 5px;
  padding: 10px;
  justify-content: space-between;
}
.user-menu li a i.fa {
  margin-right: 5px;
}

.header-area {
  background: none repeat scroll 0 0 #f4f4f4;
  padding:15px;
}
.header-area a {
  color: #000;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.nav-link .hover {
  text-decoration: none;
}

/* POSICIONES A LA DERECHA DE LOS BOTONES VOLVER A INICIO & SALIR */

.button-right-logout{
  position: absolute;
  right: 15px
}

.button-right-home{
  position: absolute;
  right: 115px
}
